.bold {
	font-weight:bold;
}

.small-container {
	max-width:800px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.wine-container {
	padding:20px 0;
	background-color:#FFF;
	transition:all 0.3s linear;
}

.wine-container:hover {
	background-color:#DDD;
	transition:all 0.3s ease-in-out;
}

.wine-container img {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}